// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/ {
    behaviors {
        lht: layer_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <100>;
            bindings = <&to>, <&to>;
        };
        hrm: home_row_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮
           &kp SEMI       &kp COMMA      &kp DOT        &kp P          &kp Z              &kp F          &kp G          &kp C          &kp R          &kp L          
        //├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
           &kp A          &kp O          &hrm LCTRL E   &hrm LSHFT U   &kp I              &kp D          &hrm RSHFT H   &hrm RCTRL T   &kp N          &kp S          
        //├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
           &kp TAB        &kp Q          &kp J          &kp K          &kp X              &kp B          &kp M          &kp W          &kp V          &kp Y          
        //╰──────────────┴──────────────┴──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┴──────────────┴──────────────╯
                                                        &kp LGUI       &gresc             &kp SPACE      &lht 0 1       
        //                                             ╰──────────────┴──────────────╯   ╰──────────────┴──────────────╯
            >;
        };

        symbol_layer {
            bindings = <
        //╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮
           &kp C_VOL_UP   &kp C_VOL_DN   &kp C_BRI_UP   &kp C_BRI_DN   &caps_word         &kp MINUS      &kp N1         &kp N2         &kp N3         &kp BSPC       
        //├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
           &kp BSLH       &kp FSLH      &hrm LCTRL LPAR &hrm LSHFT RPAR &kp SQT           &kp EQUAL      &hrm RSHFT N4  &hrm RCTRL N5  &kp N6         &kp N0         
        //├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
           &kp TAB        &kp C_MUTE     &kp LBKT       &kp RBKT       &kp RALT           &kp PLUS       &kp N7         &kp N8         &kp N9         &kp RET        
        //╰──────────────┴──────────────┴──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┴──────────────┴──────────────╯
                                                        &kp LGUI       &kp RALT           &kp SPACE      &lht 0 2       
        //                                             ╰──────────────┴──────────────╯   ╰──────────────┴──────────────╯
            >;
        };

        nav_layer {
            bindings = <
        //╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮
           &kp F1         &kp F2         &kp F3         &kp F4         &kp F5             &kp HOME       &kp END        &kp PG_UP      &kp PG_DN      &kp BSPC       
        //├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
           &kp F6         &kp F7         &kp F8         &kp F9         &kp F10            &none          &kp LEFT       &kp UP         &kp DOWN       &kp RIGHT      
        //├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
           &kp F11        &kp F12        &kp F13        &kp F14        &kp F15            &bt BT_CLR     &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &kp RET        
        //╰──────────────┴──────────────┴──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┴──────────────┴──────────────╯
                                                        &kp LGUI       &none              &kp SPACE      &lht 0 3       
        //                                             ╰──────────────┴──────────────╯   ╰──────────────┴──────────────╯
            >;
        };

        game_layer {
            bindings = <
        //╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮
           &kp TAB        &kp Q          &kp R          &kp T          &kp Y              &to 0          &to 0          &to 0          &to 0          &to 0          
        //├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
           &kp LSHFT      &kp A          &kp W          &kp D          &kp F              &to 0          &to 0          &to 0          &to 0          &to 0          
        //├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
           &kp LCTRL      &kp Z          &kp S          &kp X          &kp C              &to 0          &to 0          &to 0          &to 0          &to 0          
        //╰──────────────┴──────────────┴──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┴──────────────┴──────────────╯
                                                        &kp ESC        &kp SPACE          &to 0          &lht 0 1       
        //                                             ╰──────────────┴──────────────╯   ╰──────────────┴──────────────╯
            >;
        };
    };
};
